* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

img{
  width: 200;
  height: 100;
  margin-left: -120px;
  margin-top: -50px ;
  position: absolute;

}

.sidebar {
  color: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 17%;
  transition: width 300ms;
  z-index: 999999;
  background: #56ccf2;
  background: -webkit-linear-gradient(to right, #ed752f, #f29456);
  background: linear-gradient(to right, #ec6212, #ec9665);
}

.sidebar-brand {
  display: flex;
  padding: 2rem;
  font-size: 1rem;
  align-items: center;
  justify-content: space-between;
}
.sidebar-brand span {
  font-weight: 600;
}

.sidebar-menu {
  margin-top: 1rem;
  width: 100%;
}
.sidebar-menu ul {
  list-style: none;
}
.sidebar-menu ul li a {
  color: #fff;
  display: block;
  padding: 1rem 2rem;
  text-decoration: none;
}
.sidebar-menu ul li a:hover {
  transition: 1.3s;
  padding: 1rem 1.7rem;
  background-color: #ffb67b;

}



/* .sidebar-menu ul li a i {
  margin-left: 0.5rem;
} */

.align {
  height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  background-color: #fff;
}



.navbar-toggler {
  display: none;
}

.main-content {
  height: auto;
  margin-left: 16%;
  transition: margin-left 200ms;
  background: #ffe6d7;
  width: 100%;
  padding-left: 2cm;
  padding-right: 8cm;
}
.main-mahasiswa {
  padding-top: 6rem;
}
.main-mahasiswa h2 {
  font-weight: 600;
  margin-left: 15px;
} 

.main-mahasiswa input[type="text"] {
  width: 75%;
  padding: 6px;
  margin-top: 8px;
  margin-left: 15px;
  font-size: 17px;
  border: none;
  border-radius: 4px;
}

.main-mahasiswa button {
  margin-left: 15px;
}

.main-mahasiswa .text-center{
  /* float: right; */
  /* margin-right: 16px; */
  margin-left: 3cm;
  padding-top: 0.5cm;
  padding-bottom: 0.5cm;
}

.card {
  width: 100%;
  margin-top: 3rem;
  padding: 1rem 0;
}

.active {
  background-color: #493b2f;
}
.bars {
  cursor: pointer;
}

/* responsive */
#nav-toggle {
  display: none;
}
#nav-toggle:checked + .sidebar {
  width: 75px;
}
#nav-toggle:checked ~ .main-content {
  margin-left: 75px;
}

#nav-toggle:checked + .sidebar .sidebar-brand span:last-child,
#nav-toggle:checked + .sidebar .sidebar-menu span:last-child {
  display: none;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {

  .sidebar {
    width: 75px;
  }
  .main-content {
    margin-left: 75px;
  }

  .sidebar .sidebar-brand span:last-child,
  .sidebar .sidebar-menu span:last-child {
    display: none;
  }

  /* Hover */
  .sidebar:hover {
    width: 300px;
  }
  .main-content:hover {
    margin-left: 75px;
  }

  .sidebar:hover .sidebar-brand span:last-child,
  .sidebar:hover .sidebar-menu span:last-child {
    display: block;
  }
  .sidebar-menu ul li a {
    color: #fff;
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
  }
  
}


@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .main-content {
    margin-left: 0;
  }
  .main-content:hover {
    margin-left: 0;
  }
  .navbar-toggler {
    display: inline-block;
  }
  .navbar .navbar-brand {
    display: none;
  }
}

/* button color*/
.btn-dark {
    background-image: linear-gradient(to right, #e16025, #eb7344, #fe7504, #ff6b15);
    border: orchid;
}

.dataTables_filter, .dataTables_info { display: none; }



